//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ dns_domain }}" {
  type master;
  file "/etc/bind/zones/local.zone";
};

zone "{{ dns_ip_octet_3 }}.{{ dns_ip_octet_2 }}.{{ dns_ip_octet_1 }}.in-addr.arpa" {
  type master;
  file "/etc/bind/zones/in-addr.arpa";
};

# Tired of ads? So am I
include "/etc/bind/bad-hosts.conf";
