@ IN SOA {{ dns_host }}.{{ dns_domain }}. ns1.dyndns.org. (
  2006071801  ; serial
  28800       ; refresh, seconds
  604800      ; retry, seconds
  604800      ; expire, seconds
  86400 )     ; minimum, seconds

@	IN	NS	{{ dns_domain }}.

1   IN PTR {{ dns_host }}.{{ dns_domain }}.
1   IN PTR www.{{ dns_host }}.{{ dns_domain }}.

;
; Additional hosts defined by `internal_hosts`:
;
