$TTL 604800
@ IN	SOA {{ dns_host }}.{{ dns_domain }}. router.{{ dns_domain }}. (
	2011102402
	28800
	3600
	604800
	38400 )
@ IN NS {{ dns_host }}.{{ dns_domain }}.

{{ dns_host }}.{{ dns_domain }}. IN A {{ dns_ip_octet_1 }}.{{ dns_ip_octet_2 }}.{{ dns_ip_octet_3 }}.{{ dns_ip_octet_4 }}
{{ dns_domain }}. IN A {{ dns_ip_octet_1 }}.{{ dns_ip_octet_2 }}.{{ dns_ip_octet_3 }}.{{ dns_ip_octet_4 }}

;
; Additional hosts defined by `internal_hosts`:
;
